<% include ./partials/header %>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <a href="/courses"><button type="submit">Go to courses</button></a>
  <a href="/auth/register"><button type="button">Register</button></a>
  <a href="/auth/login"><button type="button">Login</button></a>

  <% if(allCarousels.length > 0) {
    allCarousels.forEach(e => {
      %>
      <a href="<%=e.link%>">
        <img src="/<%=e.picture.path %>" style="width: 200px; height: 200px;">
      </a>
       <%
    })
  } %> 
  
<% include ./partials/footer %>