<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/courses"><button type="submit">Go to courses</button></a>
    <a href="/auth/register"><button type="button">Register</button></a>
    <a href="/auth/login"><button type="button">Login</button></a>
  </body>
</html>
