<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>course</title>
</head>

<body>
    <form action="/courses" method="post">
        <label for="name">Name:
            <input type="text" name="name" id="name"><br>
        </label>
        <label for="code">Code:
            <input type="text" name="code" id="code"><br>
        </label>
        <label for="name">Image:
            <input type="text" name="image" id="image"><br>
        </label>
        <label for="name">Description:
            <input textarea="textarea" name="description" id=""><br>
        </label>
        <button type="submit">Submit</button>
    </form>
</body>

</html>