<% include ./partials/header %>
    <div class="row" style="padding-left: 50px;">
        <% if (currentUser) {
            %> 
            <a href="/auth/logout"><button type="reset">logout</button></a>
            <h4>Hello <%=currentUser %></h4>
            <% } %>
    </div>
    <div class="row">
        <div class="col-md-3">Name</div>
      <a href="/courses/new">Create new course</a>
    </div>
    <div>
        <% 
    allCourses.forEach(e => {
        %>
            <div style="margin-left: 20px" class="row">
                <a href="/courses/<%=e.id%>">
                    <%=e.name%>
                </a>
                <a href="/courses/<%=e.id%>/edit">&nbspedit</a>
            </div>
            <%
            }) %>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">

<% include ./partials/footer %>