<% include ../partials/header %>
<form action="/carousel" method="post">
    Picture:<input type="text" name="picture" id=""><br>
    Link:<input type="text" name="link" id=""><br>
    Sort:<input type="number" name="sort" id=""><br>
    <input type="submit" value="Okaci">
</form>
    <% include ../partials/footer %>