<% include ../partials/header %>
<form action="/carousel/newMulti" method="post" enctype="multipart/form-data">
    Picture:<input type="file" name="file" id=""><br>
    Link:<input type="text" name="link" id=""><br>
    Sort:<input type="number" name="sort" id=""><br>
        <input type="submit" value="Submit">
      </form> 
</form>
    <% include ../partials/footer %>