<% include ../partials/header %>
<form action="/carousel/uploadFile" method="post" enctype="multipart/form-data">
    Picture:<input type="file" name="picture" id=""><br>
    Link:<input type="text" name="link" id=""><br>
    Sort:<input type="number" name="sort" id=""><br>
    <input type="submit" value="Okaci">
</form>
    <% include ../partials/footer %>