<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register user</title>
</head>
<body>
    <div class="row">
        <form action="/users" method="post">
        <label for="firstName">First name:<input type="text" name="firstName" id="firstName"></label><br>
        <label for="lastName">Last name:<input type="text" name="lastName" id="lastName"></label><br>
        <label for="image">Image:<input type="text" name="image" id="image"></label><br>
        <label for="email">eMail:<input type="text" name="email" id="email"></label><br>
        <label for="username">Username:<input type="text" name="username" id="username"></label><br>
        <label for="password">Password:<input type="text" name="password" id="password"></label><br>
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>