<% include ./partials/header %>
    <% foundUsers.forEach(e => { %>
        <div class="row">
            <label for="firstName">
                <input type="text" name="firstName" disabled value="<%=e.firstName%>" id="firstName">
            </label>
            <label for="lastName">
                <input type="text" name="lastName" disabled value="<%=e.lastName%>" id="firstName">
            </label>
            <label for="username">
                <input type="text" name="username" disabled value="<%=e.username%>" id="firstName">
            </label>
        </div>
        <% }); %>
<% include ./partials/footer %>